* {
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    
}

.greeting-message {
    text-align: center;
}

.user {
    display:flex;
    justify-content: center;
}